<br><br><br>
<div>
<table id="example" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th class="hidden-xs">Age</th>
                <th class="hidden-xs">Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th class="hidden-xs">Age</th>
                <th class="hidden-xs">Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td class="hidden-xs">61</td>
                <td class="hidden-xs">2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td class="hidden-xs">63</td>
                <td class="hidden-xs">2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td class="hidden-xs">66</td>
                <td class="hidden-xs">2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td class="hidden-xs">22</td>
                <td class="hidden-xs">2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td class="hidden-xs">33</td>
                <td class="hidden-xs">2008/11/28</td>
                <td>$162,700</td>
            </tr>

        </tbody>
    </table>
    </div>
